[submodule "Assets/Submodules/command_bar"]
	path = Assets/Submodules/command_bar
	url = https://git.universinet.org/bristar/command_bar.git
[submodule "Assets/Submodules/SimplexNoise"]
	path = Assets/Submodules/SimplexNoise
	url = https://github.com/WardBenjamin/SimplexNoise.git
